# Global owners for the Model Card Toolkit
* @codesue @casassg @ahmed-bd @hanneshapke

# Community standards (Core members)
/CONTRIBUTING.md @rcrowe-google @casassg @hanneshapke @codesue @ahmed-bd @deutranium
/README.md @rcrowe-google @casassg @hanneshapke @codesue @ahmed-bd @deutranium
/CODE_OF_CONDUCT.md @rcrowe-google @casassg @hanneshapke @codesue @ahmed-bd @deutranium

# PyPI distribution files (Core members)
/model_card_toolkit/__init__.py @rcrowe-google @casassg @hanneshapke @codesue @ahmed-bd @deutranium
/model_card_toolkit/dependencies.py @rcrowe-google @casassg @hanneshapke @codesue @ahmed-bd @deutranium
/model_card_toolkit/version.py @rcrowe-google @casassg @hanneshapke @codesue @ahmed-bd @deutranium
/package_build/ @rcrowe-google @casassg @hanneshapke @codesue @ahmed-bd @deutranium
/proto_build/ @rcrowe-google @casassg @hanneshapke @codesue @ahmed-bd @deutranium
/setup.py @rcrowe-google @casassg @hanneshapke @codesue @ahmed-bd @deutranium
/WORKSPACE @rcrowe-google @casassg @hanneshapke @codesue @ahmed-bd @deutranium
/RELEASE.md @rcrowe-google @casassg @hanneshapke @codesue @ahmed-bd @deutranium

# CI/CD configuration (Release team)
/.github/workflows/ @casassg @codesue @hanneshapke
/.github/ci/  @casassg @codesue @hanneshapke
