<!DOCTYPE html>







<html lang="en">
<head>
<style>
  h1 {text-align: center;}
  .row {
    display: flex;
  }
  .col {
    flex: 1;
  }
  .card {
    padding: 1em;
    border: 1px solid #DADCE0;
    margin: 10px;
  }
  .img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }
  .img-item {
    flex: 1;
  }
  table, th, td { border: 1px solid black; }
  th, td { border: 1px solid #CCC; height: 30px; }
  caption { font-weight: bold; }
</style>
<title>
  Model Card for train-only model
</title>
</head>
<body>
  <h1>
    Model Card for train-only model
  </h1>
    <div class="row">
      <div class="col card">
        <h2>Model Details</h2>
          
          <h3>Version</h3>
              
  
    <div>name: 0.3</div>

              
  
    <div>date: 2020-01-01</div>

              
  
    <div>diff: Updated dataset.</div>

          
          <h3>Owners</h3>
              <ul>
                <li>bar, bar@xyz.com</li>
              </ul>
          
            <h3>License</h3>
              Apache 2.0
          
            <h3>References</h3>
              
  
  <ul>
  
    <li><a href="https://my_model.xyz.com">https://my_model.xyz.com</a></li>
  
    <li><a href="https://example.com">https://example.com</a></li>
  
  </ul>

          
            <h3>Citation</h3>
              https://doi.org/foo/bar
          
            <h3>Model Architecture</h3>
              knn
          
            <h3>Input Format</h3>
              32-char-len-text
          
            <h3>Output Format</h3>
              64-char-len-text
      </div>
      
    </div>
    
    
    
</body>
</html>