name: CI

on:
  push:
    paths:
      - 'model_card_toolkit/**'
      - '.github/workflows/ci.yml'
      - 'setup.py'
      - 'pyproject.toml'
    branches:
      - main
      - r*
  pull_request:
    paths:
      - 'model_card_toolkit/**'
      - '.github/workflows/ci.yml'
      - 'setup.py'
      - 'pyproject.toml'
    branches:
      - main
      - r*

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.8
      uses: actions/setup-python@v4
      with:
        python-version: 3.8
    - name: Cache python environment
      uses: actions/cache@v2
      with:
        # Cache pip
        path: ~/.cache/pip
        # Check the cache for a given setup.py + MCT version
        key: ${{ runner.os }}-pip-${{ hashFiles('model_card_toolkit/version.py') }}
        restore-keys: |
          ${{ runner.os }}-pip
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip wheel
        python -m pip install -e ".[test]"
    - name: Run tests
      run: pytest model_card_toolkit
